
body{
    padding: 0;
    margin: 0;
    background-color: #140e1b;  
}

.imgper{
    width: 200px;
    height: 200px;
}


.header{
    background-color: #241c30;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
}
.footer{
    
    height: 5rem;
}
p{
    
    font-size: 1.2em;
}

h1{
    
    text-align: center;
}

h2, h4{
    
    text-align: center;
    
}


@media only screen and (max-width: 600px) {
    .header{
        background-color: #241c30;
        height: 5rem;
        position: fixed;
        top: 0;
        width: 100%;
    };
    h1{
        color: #f3f4f6;
        text-align: center;
        font-size: 0.5em;
    }

  }